<?xml version="1.0" encoding="UTF-8"?>
<mapper device="SIMPLE_MIDI_0_0" author="Local test fixture" version="850">
  <map value="ONINIT" action="set '$codex_device_loaded' 9598" />
  <map value="CODEX_PROBE_BUTTON" action="set '$codex_device_button' 37" />
  <map value="CODEX_PROBE_SLIDER" action="set '$codex_device_slider'" />
</mapper>
